h1 {
    text-align: center;
    margin:0px;
}
header {
    padding-top: 30px;
    background-color: #eee;
   
    margin:0px;
}
font {
    
    font-size: 15px;
}
#HCB_comment_box {
    background-color: #eee;
}

img.hidden {
    display:none;
}
.jumbotron {
    margin:0px;
    background-color: #eee;
}